@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
		<!-- MODULE Home Featured Products -->
			<div class="block_content">
                <div class="menu">
	  <ul id="dc_mega-menu-orange" class="dc_mm-orange">
		 <li><a href="Admin/ADD">AddProduct</a></li>
  <li><a href="Admin/Delete">DeleteProduct</a></li>
  <li><a href="Admin/Update">UpdateProduct</a> </li>
  <li><a href="Admin/ViewAll">ViewProducts</a> </li>
  
</ul>
</div>
 </div>
			</div>
	

	


