@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>    
<body>
           <div>
               <form action="/Account/loginn" method="post">
                   @Html.ValidationSummary(true)
              <br><br><br><br><br><h1><b>Welcome To Login Page</b></h1><br>
           Enter Name<input type="text" name="n1" id="n1" value=""/><br><br>
           Enter Password<input type="text" name="p1" id="p1" value =""/><br><br>
            <input type="submit" value="Log  In" /><br><br>
             </form>  </div>
           
    
</body>
</html>
