@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<article>
    <br><br><br><br><br><h2 style="font-family:arial;color:black;font-size:25px;">   Welcome To About Page   </h2>
    <p style="font-family:arial;color:darkmagenta;font-size:20px;"><br><br>
       My Wedsite name is SmartShop.You can shop here Different Mobiles
    </p>

    <p style="font-family:arial;color:darkmagenta;font-size:20px;"><br><br>
       Different Categories Of Mobiles is Available here.
    </p>

    <p style="font-family:arial;color:darkmagenta;font-size:20px;"><br><br>
        You can Shop with your Desire.
    </p><br><br>
</article>

