@{
    ViewBag.Title = "CatIndex";
    Layout = null;
}

<br><br><br><h2>CatIndex</h2>
<div class="menu">
	  <ul id="dc_mega-menu-orange" class="dc_mm-orange">
		 <li><a href="/Home/Index">Home</a></li>
         <li class="even"><a href="/Home/HTC">HTC</a></li>
         <li class="odd"><a href="/Home/WebCam">Samnga></a></li>
          <li class="even"><a href="/Home/Mobile">Mobile Phones</a></li>
  <li><a href="/Home/About">About</a></li>
  <li><a href="/Home/Contact">Contact</a> </li>
<li><a href="/Account/Login">Login</a> </li>
  <li><a href="/Account/Signup">Register</a> </li>
</ul>
</div>