@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="contact">
    <header>
         <br><br><br><br><br><br><h3 style="font-family:arial;color:black;font-size:25px;">Welcome To Contact Page</h3>
        <br><h3 style="font-family:arial;color:darkmagenta;font-size:25px;">PhoneNumber</h3>
    </header>
    <p style="font-family:arial;color:darkmagenta;font-size:20px;">
        <span class="label">425.555.0100</span>
    </p><br>
</section>

<section class="contact">
    <header>
        <h3 style="font-family:arial;color:darkmagenta;font-size:25px;">Email</h3>
    </header>
    <p style="font-family:arial;color:darkmagenta;font-size:20px;">
        <span class="label"> Support@SmartShop.com</span>
       
    </p><br>
 
</section>

<section class="contact">
    <header>
        <h3 style="font-family:arial;color:darkmagenta;font-size:25px;">Address</h3>
    </header>
    <p style="font-family:arial;color:darkmagenta;font-size:20px;">
        One Microsoft Way<br />
        Redmond, WA 98052-6399
    </p><br>
</section><h2>Contact</h2>
