@{
    ViewBag.Title = "checkout";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>checkout</h2>
<!--CheckOut-->
<!--Integrated with paypal-->

<h1 style="margin-left:20px">Order Details</h1> 
<div style="border: 1px solid black;margin-top:10px;margin-left: 60px;height: auto;width: 600px">
<table>
    <tbody><tr><td>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
              <input name="cmd" value="_cart" type="hidden">
              <input name="upload" value="1" type="hidden">
            
              
             <table width="100%">
                
                <tbody><tr style="text-align: right"> 
                    <th style="width: 170px">Product</th> 
                    <th style="width: 170px">Quantity</th> 
                    <th style="width: 170px">Price</th> 
                </tr>
                    <tr style="text-align: right"> 
                      <input name="item_name_1" value="htc" type="hidden"/>
                      <input name="amount_1" value="1600" type="hidden"/>
                          <td class="product">htc</td> 
                          <td class="qt">1</td> 
                          <td class="price">1500</td> 
                     </tr> 
                    
                <tr style="text-align: right"> 
                    <td></td>
                    <td style="font-weight: bold">Total:</td> 
                    <td> 1600</td> 
                </tr>  
                <tr style="text-align: right"> 
                <td></td>
                <td></td> 
                <td>
                    <input src="/Images/btn_buynow_LG.gif" name="submit" alt="" border="0" type="image"></td> 
                </tr>   
            </tbody></table>
            
       </form>
    </td></tr>
    
</tbody></table>

</div>
          </div>    

      </div>

